body {
    background-color: rgb(15, 82, 32);
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.links-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.link-section {
  flex: 1;
}

.link {
    font-size: 20px;
    color: #0068ff;
    padding: 8px;
}

header {
    background-color: #0092ff;
    padding: 20px;
    text-align: center;
}
    
#main-header {
    font-size: 58px;
}

#subheader {
    font-size: 25px;
}

main {
    color: lightgrey;
    font-size: 20px;
}

footer {
    text-align: center;
}
